@import "~@angular/material/prebuilt-themes/indigo-pink.css";


.new button{
    width: 100%;
    margin-top: .3rem;
    text-align: center;
}


.container{

    width: 85%;
    margin:auto;
   

}

.content{
    width: 100%;
   
}

.actions{ 
    text-align: end;  

}


mat-card{

    margin-top: .8rem;
    padding: .2rem;

}

p{
      
    text-align: end;
    font-weight: 600;
}

.actions button{
    margin:.3rem
}